@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  font-family: poppins;
}

.header {
  background-color: #00756a;
  color: white;
  display: flex;
  width: 100%;
  height: 12%;
  border-bottom: white 1px solid;
  transition: background-color 0.5s;
  /* position: fixed; */
}

.div-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55%;
  height: 100%;
  margin-left: 10%;
}
.div-11 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  width: 35%;
  height: 100%;
  padding-top: -2%;
  transition: all 0.5s;
}

.div-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35%;
  height: 100%;
  margin-right: 10%;
}

.a-header {
  color: white;
  margin-left: 20px;
  font-weight: 600;
  /* margin-top: 18px; */
  text-decoration: none;
  transition: all 0.5s;
}

.header-btn-1 {
  background-color: #00756a;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  padding: 12px 14px;
  margin-left: 20px;
  font-size: 14px;
  font-weight: 620;
  cursor: pointer;
  transition: all 0.5s;
}

.header-btn-2 {
  background-color: #00756a;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  font-size: 14px;
  padding: 12px 14px;
  margin-left: 20px;
  /* margin-top: 10px; */
  font-weight: 620;
  cursor: pointer;
  background-color: white;
  color: #00756a;
  transition: all 0.5s;
}

.icon {
  height: 20px;
  width: 20px;
  color: #00756a;
}

.div-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 89%;
  background-color: #00756a;
}

.div-31 {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  width: 30%;
  height: 100%;
  text-align: start;
  /* background-color: #00756a */
}

.div-32 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  /* background-color: #00756a */
}

.img-1 {
  height: 90%;
  width: 100%;
  margin-left: 15%;
  /* background-image: url("Images/hero-image.png"); */
  /* background-size: cover; */
}

.text-1 {
  color: #ffe6ae;
  font-weight: 900;
  margin-top: -10%;
  margin-bottom: 20px;
}

.text-2 {
  color: white;
  font-weight: 600;
  font-size: 40px;
  margin-bottom: -3px;
}

.text-3 {
  color: white;
  margin-top: 30px;
  font-size: 20px;
  margin-bottom: 30px;
}

.btn-1 {
  width: 40%;
  background-color: #00756a;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  padding: 12px 14px;
  font-size: 14px;
  font-weight: 620;
  cursor: pointer;
}

/* Scroll-CSS */
.scrolled {
  background-color: white;
  border-bottom: 1px solid gray;
  color: black;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.scrolled-nav {
  color: #2d3640;
}

.scrolled-btn2 {
  background-color: #00756a;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  padding: 12px 14px;
  font-size: 14px;
  font-weight: 620;
  cursor: pointer;
}

.scrolled-btn1 {
  background-color: white;
  color: #00756a;
  border: 1px solid #00756a;
  border-radius: 5px;
  padding: 12px 14px;
  font-size: 14px;
  font-weight: 620;
  cursor: pointer;
}

/* #nextSection */
.div-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 300%;
  background-color: white;
  padding: 10%;
  padding-top: 18%;
}
.text-4 {
  color: #333e49;
  width: 70%;
  font-weight: 600;
  font-size: 40px;
  margin-bottom: -3px;
  text-align: center;
}

.text-5 {
  color: #333e49;
  width: 19%;
  /* height: 45px; */
  border-radius: 5px;
  background-color: #d4ecb1;
  font-weight: 600;
  font-size: 20px;
  margin-top: 60px;
  margin-bottom: 60px;
  text-align: center;
  align-self: center;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-right: 10%; */
}

.img-2 {
  height: 85%;
  width: 85%;
}
.image-between {
  margin-left: 10%;
  margin-right: 10%;
}
.image-between-2 {
  margin-left: 7%;
  margin-right: 7%;
}

.image-text {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
}

.image-container-1 {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 100%;
}

.text-6 {
  color: #88929e;
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 20px;
}

.text-7 {
  color: #333e49;
  font-weight: 600;
  /* font-size: 18px; */
  margin-bottom: 20px;
}

.text-8 {
  color: #333e49;
  /* font-weight: 600; */
  text-align: bottom;
  font-size: 17px;
  line-height: 27px;
  margin-bottom: 20px;
}

.text-9 {
  text-decoration: none;
  color: #00756a;
  font-weight: 600;
  font-size: 12px;
  margin-bottom: 20px;
}

/* #nextSection */

.div-5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 135%;
  background-image: url("Images/bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 10%;
  padding-top: 13%;
  /* padding-bottom: 20%; */
}

.div-51 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.div-512 {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
#world-img {
  height: 100%;
  width: 100%;
  padding-bottom: 50%;
}

.text-10 {
  color: white;
  font-weight: 600;
  font-size: 40px;
  margin-top: -8%;
  text-align: start;
  margin-bottom: 10%;
  padding-left: 10%;
}

.text-11 {
  color: white;
  font-weight: 600;
  font-size: 20px;
  text-align: start;
  margin-bottom: 10%;
  padding-left: 10%;
}

.div-52 {
  background-color: white;
  height: 80%;
  width: 100%;
  margin-top: -20%;
  margin-bottom: -20%;
  /* border-radius: 10px; */
  /* border: 1px solid black; */
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
}

.div-522 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f4f5;
  height: 20%;
  width: 100%;
  /* border-radius: 10px; */
  /* border: 1px solid #00756a; */
}

.img-3 {
  background-color: #f2f4f5;
}

.div-521 {
  /* background-color: rgb(255, 2, 2); */
  height: 80%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.div-5211 {
  width: 50%;
  text-align: center;
  font-size: 34px;
  font-weight: 700;
  color: #4d52b1;
  padding: 10%;
  /* border-right: 2px dashed black; */
}

.border {
  height: 80%;
  width: 2px;
  background-color: black;
}

.div-5212 {
  width: 50%;
  text-align: start;
  font-size: 20px;
  padding-right: 10%;
  padding-left: 3%;
}

.div-6 {
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 140%;
  /* background-color: #00756a; */
  padding: 10%;
  padding-top: 18%;
}

.text-14 {
  color: #00756a;
  width: 70%;
  font-weight: 600;
  font-size: 40px;
  margin-top: 20%;
  text-align: center;
  margin-bottom: 3%;
}

.text-15 {
  width: 50%;
  text-align: center;
  margin-bottom: 5%;
}

.img-4 {
  margin-top: 4%;
}

.btn-5 {
  text-align: center;

  width: 17%;
  height: 10%;
  font-size: 20px;
  font-weight: 400;
}
